@media screen and (max-width: 435px) {

  body, html {
    background-size: contain;
  }

  .main-content {
    display:none;

  }
  .resumo.active{
    display:none;

  }
  .card-main {
    margin:0;
  }
  .modal{
    max-width: 300px;
    margin: 1.2rem auto;
  }
  .list{
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    max-height:400px
  }
  .flex-end{
    justify-content:space-between ;  
    padding:0.7rem;
  }
  .flex-end button {
    margin:0;
  }
  .text-main{
    text-align:center;
  }
  .mini-banner img {
    opacity: 1;
  }
  
}