:root{
  --bg-scrollbar:#9fa9ae;
  --color-scrollbar-1:#3e7688;
  --color-scrollbar-2:#c7d9df;
}

/* Works on Firefox */
*{
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-1)  var(--color-scrollbar-2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-scrollbar)
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-1);
  border-radius: 10px;
  border: 1px solid transparent;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: url(./img/bg-img.png);
  /* background-image: url(./img/bg-img2.jpg); */
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Spoof Trial', sans-serif;
  scroll-behavior: smooth;
}
section.main{
  width: 100%;
  
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  
}
.modal-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  margin-top:100px;
  padding: 2.4rem;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.modal form{
  display: flex;
  flex-direction: column;
}
.input-group{
  display: flex;
  margin-bottom: 20px;
}
.input-group.resumo{
  height:100px;
}
.input-group label{
  width: 100%;
  
  
}
.input-group input{
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  border:none;
}
.card-main {
  display: flex;
  align-items: center;
  justify-content:center;
  
  width: 100%;
  padding: 50px 0;
  
}
.card-buttons{
  display: flex;
  justify-content:space-between;

}
.card-buttons h2{
  margin:0 0 10px 20px;
  padding-left:10px;
  border-left: 3px solid var(--color-scrollbar-1);

}
.flex-end{
  display: flex;
  justify-content:flex-end;
  padding-right:70px;
}
.flex-end button {
  font-family: 'Spoof Trial', sans-serif;
  margin-left:20px;
  border: none;
  background: transparent;
  font-size: 16px;
  
}
.flex-end button:hover {
  color: #540d0c;
  transition: 0.6s;

}
.btn{
  border: none;
  padding: 10px 20px;
  margin-left:10px;
  border-radius:5px;


}
.btn-primary{
  background: #7fef87;
  color:#083c08;
}
.btn-primary:hover{
  transition: 0.4s;
  background: #1baf26;
  color: #0f0;
}
.btn-secondary{
  background: #f4f4f4;
  border: solid 2px #c76464
}
.btn-secondary:hover{
  transition: 0.4s;
  /* background: #eb3434; */
  color: red;
  border: solid 2px red
}
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  width: 330px;
  height: 420px;
  
  border-radius: 15px;
}
.banner a {
  display: flex;
  justify-content: center;
}
.main-content {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}

.resumo.active {
  color: #202124;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  margin-left: 20px;
}
.resumo.active h3 {
  padding: 0 10px;
}
.resumo.active p {
  padding: 0 10px;
  max-width:560px;
}
.mini-banner {
  display: flex;
  align-items: center;
  position: relative;

  
}
.mini-banner img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  width: 240px;
  height: 340px;
  padding:20px 40px;
  margin:0 ;


  opacity: 0.7;
}
.mini-banner a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background:rgb(0 0 0 / 60%);
  padding:10px;
  border-radius:10px;
  margin-left:118px;
  
  overflow: auto;
  position:absolute;
}
/* .mini-banner a:last-child {
  width:100%;
  height: 100%;
  background:transparent;
} */
.mini-banner img:hover{
  opacity: 1;
  transition: 0.9s;
  cursor:pointer;
}
.mini-banner img:hover ~ a{
  transition: 0.8s;
  display: none;

}

.swiper {
  width: 100%;
  height: 100%;
}



.carrosel{
  overflow-x: scroll;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer{
  text-align: center;
}

